*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', monospace;
}

.conainter {
    display: flex;
}

.links {
    position: relative;
    padding: 15px;
    display: flex;
}

.about {
    padding-right: 15px;
}

.right-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-grow: 1;
}

.right-logos {
    position: relative;
    display: inline-flex;
    justify-content: end;
    justify-content: space-evenly;
    width: 258.65px;
    min-width: auto;
}

.dots {
    padding: 2px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.search-container {
    padding: 20px;
    display: flex;
    flex-flow: column;
}

.search-click {
    padding-top: 5px;
    padding-right: 10px;
}

.search-input {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}

.button-container {
    display: flex;
    grid-column-gap: 20px;
    justify-content: center;
    padding-top: 18px;
}

#search {
    padding: .1rem;
    font-size: 1.3rem;
    width: 560px;
}

button {
    min-width: 150px;
    min-height: 40px;
    text-align: center;
}